:root {
    /* Light mode */
    --light-text: #222430;
    --light-bg: #f1efc9;
  
    /* Dark mode */
    --dark-text: #f7f7f7;
    --dark-bg: #1b262c;

    /* Default setting */
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin:0;    
}

a {
    color: #888888;
}

input[type="text"], textarea {
    font-family: 'Raleway', sans-serif;
    border: 0;
    padding:6px;
    width:100%;
    margin-bottom: 7px;    
}

textarea {
    min-height: 80px;
}

input[type="button"], button {
    border:none;
    padding:10px;
    min-width: 100px;
    cursor: pointer;
}

/* main container */
main {
    width: 1024px;
    margin:40px;
}

/* header container */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* filter elements*/
filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: solid 1px #68686869;
}

/* note component */
note {
    display:block;
    margin-bottom: 20px;
    padding: 10px;
    background:hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.finished {
    opacity: 0.4;
}

.main-note-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.note-edit {
    margin-bottom: 20px;
}

.note-edit > label {
    font-size: 90%;
    margin-left:10px;
}

.note-importance {
    min-width:170px;
    text-align: right;
}

/* add note form */
addnote {
    position: absolute;
    top:20vh;
    left: 0 auto;
    z-index: 20;
    width: 40%;
    min-width:400px;
    padding:15px;
    display: none;
    background: var(--bg-color);
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.8);
}

#addform {
    width:100%;
    display: flex;
    margin-bottom: 20px;
}
#addform > div {
    width:50%;
    padding-right:20px;
}
#addform > div > div {
    padding: 2px;
}
#addform-buttons {
    width:100%;
    text-align: center;
}

/* darkener div for note form overlay */
darkener {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
    display: none;
}

.due-date, .create-date {
    font-size: 70%;    
}

.due-date {
    font-style: italic;
}

/* styling */
.green {
    background: rgb(46, 148, 122);
    color: var(--dark-text);
}

.blue {
    background: rgb(55, 151, 216);
    color: var(--dark-text);
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
}

.active {
    background: rgb(8, 93, 150);
}

.red {
    background: rgb(216, 79, 55);
    color: var(--dark-text);
}

.dark {
    background: var(--dark-bg);
    color: var(--dark-text);
}

.show {
    display:block;
}

.img-flash {
    width:30px;    
}

.pointer {
    cursor: pointer;
}

/* theme switcher */
#theme-switch {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

label[for="theme-switch"] {
    cursor: pointer;
}