body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

main {
    width: 1024px;
    border: solid 1px red;
    
}

header {
    display: flex;
    justify-content: space-between;
}

filter {
    display: inline;
}

addnote {
    display:none;
}

.img-flash {
    width:30px;
    cursor: pointer;
}